extends layout

block content
  //
    h1= title
    p Welcome to #{title}
  header
    h1 Offline Example
  section
    article
      button#installButton Check for Updates
      h3 Log
      div#info
