/* LAYOUT CSS */
.pure-img-responsive {
  max-width: 100%;
  height: auto;
}

.content-subhead {
  text-transform: uppercase;
  color: #aaa;
  border-bottom: 1px solid #eee;
  padding: 0.4em 0;
  font-size: 80%;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.post {
  padding-bottom: 2em;
}
.post-title {
  font-size: 1.5em;
  color: #222;
  margin-bottom: 0.2em;
  height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: nowrap;
}
.post-avatar {
  border-radius: 50px;
  float: right;
  margin-left: 1em;
}
.post-description {
  color: #444;
  line-height: 1.8em;
}
.post-meta {
  color: #999;
  font-size: 90%;
  margin: 0;
  line-height: 1;

  .post-label {
    display: inline-flex;
    align-items: center;
    color: #999;
    padding: 0.3em 0;
    font-size: 80%;
    > svg {
      margin-right: 5px;
      // color: #b0c323;
      font-size: 14px;
    }
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  .post-time {
    > svg {
      color: #f1af38;
    }
  }

  .post-category {
    margin: 0 0.1em;
    padding: 0.5em 1em;
    color: #fff;
    background: #999;

    border-radius: 2px;
  }

  .post-category-css {
    background: #5aba59;
  }
  .post-category-pure {
    background: #4d85d1;
  }
  .post-category-yui {
    background: #8156a7;
  }
  .post-category-js {
    background: #df2d4f;
  }
  .post-category-jsx {
    background: #61dafb;
  }
}

.post-images {
  margin: 1em 0;
}
.post-image-meta {
  margin-top: -3.5em;
  margin-left: 1em;
  color: #fff;
  text-shadow: 0 1px 1px #333;
}

// =============================

// About
.about {
}

.series {
  position: relative;
  list-style: none;
  padding-left: 30px;
  margin-left: 18px;
  &::before {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 2px;
    overflow: hidden;
    background-color: #00bec6;
    left: 0;
    top: 0;
  }

  > li {
    position: relative;
    &:not(:last-child) {
      margin-bottom: 50px;
    }
    &:last-child {
      &::before {
        content: "";
        display: inline-block;
        height: 100%;
        width: 2px;
        background: #fff;
        position: absolute;
        left: -30px;
        bottom: 0;
      }
    }
    .icon-square {
      position: absolute;
      left: -41px;
    }

    > time {
      color: #00bec6;
      display: inline-block;
      text-align: right;
    }

    // &:hover {
    //   .icon-square {
    //     &::after {
    //       background-color: #dcb900;
    //     }
    //     &::before {
    //       border-color: #dcb900;
    //     }
    //   }
    // }
  }
}

.series-content {
  .title {
    color: #999;
    font-size: 80%;
  }
  .duty {
    font-size: 85%;
  }

  > h4 {
    font-weight: normal;
  }

  .post-meta {
    margin: 5px 0;

    .post-label {
      color: #00bec6;
    }
  }
}

.series-project {
  .icon-square {
    transform: scale(0.5);
  }

  > time {
    font-size: 14px;
    font-style: italic;
    left: -205px !important;
    padding-right: 5px;
    color: #999 !important;
  }
}

.icon-square {
  position: relative;
  width: 24px;
  height: 24px;
  display: inline-block;
  &::before,
  &::after {
    content: "";
    display: inline-block;
    position: absolute;

    transform: rotateZ(45deg);
    border-radius: 2px;
  }

  &::before {
    width: inherit;
    height: inherit;
    border: 2px solid #00bec6;
    background-color: #fff;
    left: 0;
    top: 0;
  }
  &::after {
    width: 10px;
    height: 10px;
    background-color: #00bec6;
    left: 7px;
    top: 7px;
  }
}
@media only screen and (min-width: 992px) {
  .series {
    margin-left: 150px;
    > li {
      > time {
        position: absolute;
        left: -210px;
        width: 150px;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .series {
    margin-left: 240px;
  }
  .series-content {
    max-width: 640px;
  }
}
