
.App {
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Custom Style */


.test-list{
    background-color: #f2f2f2;
}

.test-list .weui-media-box .weui-media-box__hd{
    width: auto;
    height: auto;
    order:3;
    margin-right:0;
    margin-left: .8em;
}

.page {
    position: absolute;
    width: 100%;
    left: 0;
    top:0;
}

/*  */
.progress-bar{
    display: flex;
    margin-bottom: .8em;
}
.progress-bar .weui-progress{
    display: inline-flex;
    width: 100%;
    margin-right: 15px;
}

.progress-bar .weui-progress__inner-bar{
    transition: ease-out .2s;
}

.animate-right-in{
    animation: rightIn .2s ease-out;
}

@keyframes rightIn{
    0%{
        opacity: .35;
        left: 100%;
    }
    100%{
        opacity: 1;
        left:0;
    }
}
@keyframes leftOut{
    0%{
        opacity: 1;
        left: 0;
    }
    100%{
        opacity: 1;
        left:-100%;
    }
}