<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/stylesheets/html5.css" />
  <script src="javascripts/jquery-3.1.0.min.js"></script>
  <script src="javascripts/log.js"></script>
  <script src="javascripts/offline.js"></script>
  <script src="javascripts/tracker.js"></script>
</head>
