<!DOCTYPE html>
<html manifest="tracker.manifest">
  <%- include('head'); -%>
  <body>
    <header><h1>Offline Example</h1></header>
    <section>
      <article>
        <button id="installButton">Check for Updates</button>
        <h3>Log</h3>
        <div id="info" class="info"></div>
      </article>
    </section>
  </body>
</html>
