a {
  color: #23a5c3;
  text-decoration: none;
}

.article-box {
  .article-header {
    > h3 {
      line-height: 1.6;
      margin: 0;
      > a {
        color: #23a5c3;
        text-decoration: none;
      }
    }
  }

  .article-meta {
    color: #999;
    font-style: italic;
    .label {
      display: inline-flex;
      align-items: center;
      > svg {
        margin-right: 5px;
        color: #b0c323;
      }
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
    a {
      font-style: normal;
      color: #999;
      text-decoration: none;
      &:hover {
        color: #23a5c3;
      }
    }
    .time {
    }
  }
  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}
