// hide header
.impress-enabled {
  > header,
  > .header-line-shadow {
    display: none;
  }
}

// Now let's style the presentation steps.
// We start with basics to make sure it displays correctly in everywhere ...
.step {
  position: relative;
  width: 900px;
  padding: 40px;
  margin: 20px auto;

  box-sizing: border-box;

  font-family: "PT Serif", georgia, serif;
  font-size: 48px;
  line-height: 1.5;
}

// ... and we enhance the styles for impress.js.
// Basically we remove the margin and make inactive steps a little bit transparent.
.impress-enabled {
  .step {
    margin: 0;
    opacity: 0.3;

    transition: opacity 1s;

    &.active {
      opacity: 1;
    }
  }
}

// These 'slide' step styles were heavily inspired by HTML5 Slides:
// http://html5slides.googlecode.com/svn/trunk/styles.css

// ;)

// They cover everything what you see on first three steps of the demo.

// All impress.js steps are wrapped inside a div element of 0 size! This means that relative
// values for width and height (example: `width: 100%`) will not work. You need to use pixel
// values. The pixel values used here correspond to the data-width and data-height given to the
// #impress root element. When the presentation is viewed on a larger or smaller screen, impress.js
// will automatically scale the steps to fit the screen.
.slide {
  display: block;

  width: 900px;
  height: 700px;
  padding: 40px 60px;

  // background-color: white;
  // border: 1px solid rgba(0, 0, 0, 0.3);
  // border-radius: 10px;
  // box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

  color: rgb(102, 102, 102);
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);

  font-size: 30px;
  line-height: 36px;
  letter-spacing: -1px;

  q {
    display: block;
    font-size: 50px;
    line-height: 72px;

    margin-top: 100px;

    strong {
      white-space: nowrap;
    }
  }
}

// And now we start to style each step separately.

// I agree that this may be not the most efficient, object-oriented and
// scalable way of styling, but most of steps have quite a custom look
// and typography tricks here and there, so they had to be styled separately.

// First is the title step with a big <h1> (no room for padding) and some
// 3D positioning along Z axis.

#title {
  padding: 0;

  .try {
    font-size: 64px;
    position: absolute;
    top: -0.5em;
    left: 1.5em;

    transform: translateZ(20px);
  }

  h1 {
    font-size: 180px;

    transform: translateZ(50px);
  }
  .footnote {
    font-size: 32px;
  }
}

// Second step is nothing special, just a text with a link, so it doesn't need
// any special styling.

// Let's move to 'big thoughts' with centered text and custom font sizes.
#big {
  width: 600px;
  text-align: center;
  font-size: 60px;
  line-height: 1;

  strong,
  b {
    display: block;
    font-size: 250px;
    line-height: 250px;
  }

  .thoughts {
    font-size: 90px;
    line-height: 150px;
  }
}

// 'Tiny ideas' just need some tiny styling.
#tiny {
  width: 500px;
  text-align: center;
}

// This step has some animated text ...
#ing {
  width: 500px;
}

// ... so we define display to `inline-block` to enable transforms and
// transition duration to 0.5s ...
#ing b {
  display: inline-block;

  transition: 0.5s;
}

/*
    ... and we want 'positioning` word to move up a bit when the step gets
    `present` class ...
*/
#ing.present .positioning {
  transform: translateY(-10px);
}

/*
    ... 'rotating' to rotate a quarter of a second later ...
*/
#ing.present .rotating {
  transform: rotate(-10deg);
  transition-delay: 0.25s;
}

/*
    ... and 'scaling' to scale down after another quarter of a second.
*/
#ing.present .scaling {
  transform: scale(0.7);
  transition-delay: 0.5s;
}

/*
    The 'imagination' step is again some boring font-sizing.
*/

#imagination {
  width: 600px;

  .imagination {
    font-size: 78px;
  }
}

/*
    There is nothing really special about 'use the source, Luke' step, too,
    except maybe of the Yoda background.

    As you can see below I've 'hard-coded' it in data URL.
    That's not the best way to serve images, but because that's just this one
    I decided it will be OK to have it this way.

    Just make sure you don't blindly copy this approach.
*/
#source {
  width: 700px;
  padding-bottom: 300px;

  /* Yoda Icon :: Pixel Art from Star Wars http://www.pixeljoint.com/pixelart/1423.htm */
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAARgAAAEYCAMAAACwUBm+AAAAAXNSR0IArs4c6QAAAKtQTFRFsAAAvbWSLUUrLEQqY1s8UYJMqJ1vNTEgOiIdIzYhjIFVLhsXZ6lgSEIsP2U8JhcCVzMsSXZEgXdOO145XJdWOl03LzAYMk4vSXNExr+hwcuxRTs1Qmk+RW9Am49eFRANQz4pUoNMQWc+OSMDTz0wLBsCNVMxa2NBOyUDUoNNSnlEWo9VRGxAVzYFl6tXCggHbLNmMUIcHhwTXkk5f3VNRT8wUT8xAAAACQocRBWFFwAAAAF0Uk5TAEDm2GYAAAPCSURBVHja7d3JctNAFIZRMwRCCGEmzPM8z/D+T8bu/ptbXXJFdij5fMt2Wuo+2UgqxVmtttq5WVotLzBgwIABAwYMGDCn0qVqbo69psPqVpWx+1XG5iaavF8wYMCAAQMGDBgwi4DJ6Y6qkxB1HNlcN3a92gbR5P2CAQMGDBgwYMCAWSxMlrU+UY5yu2l9okfV4bAxUVbf7TJnAwMGDBgwYMCAAbMLMHeqbGR82Zy+VR1Ht81nVca6R+UdTLaU24Ruzd3qM/e4yjnAgAEDBgwYMGDA7AJMd1l/3NRdVGcj3eX/2WEhCmDGxnM7yqygu8XIPjJj8iN/MGDAgAEDBgwYMAuDGb8q0RGlLCHLv1t9qDKWn3vdNHVuEI6HPaxO9Jo3GDBgwIABAwYMmIXBdC9ShGgMk+XnkXUeuGcsP/e1+lhNnZsL/G5Vs3OAAQMGDBgwYMCAWSxMR3SzOmraG5atdy9wZKzb+vg16qyqe2FltbnAgAEDBgwYMGDALAxmTJSuN3WA76rnVca6GTnemGN1WoEBAwYMGDBgwIBZGMxUomy4+xO899V4LAg5Xnc2MGDAgAEDBgwYMGA218Wq+2K1LDqvY9xZu8zN8fICdM6btYABAwYMGDBgwIABMzfH0+pGU5afze2tXebmeAfVz+p8BQYMGDBgwIABAwbMPBzZ+oWmfJrln1273FhkbHzee9WWbw7AgAEDBgwYMGDALAKm43hcdctKgblcPamOhuXnXlY5Xs6bsW4FGyQCAwYMGDBgwIABswiYMceZKgvMo+h8mrHLTdn676rj+FEFoTtHd8MwOxEYMGDAgAEDBgyYRcBM5UhXqiymW3R3c9ARhWO/OmjqfjVZy+xEYMCAAQMGDBgwYBYG073OnCV0RFNhMhaOa9WfKmOB6XjHMN1tQmaAAQMGDBgwYMCA2VWY7vXjz1U4croAzgPztwIDBgwYMGDAgAEDZhswh035NBw59Dww3RgYMGDAgAEDBgwYMJuD6f4tXT7NUqfCdBvZLkxXdgQGDBgwYMCAAQNmt2DGj8WzwAfV/w7T/aq7mxwwYMCAAQMGDBgwuwqTOo7uTwTngflSzQ3TdaJvAwEDBgwYMGDAgAED5gSvgbyo5oHZ4Pc+gwEDBgwYMGDAgAEzhOm+5G0qTGaAAQMGDBgwYMCAAXNaMOcnls3tNwWm+zRzp54NDBgwYMCAAQMGDJh5YNL36k1TLuGvVq+qnKMbS5n7tulT9asCAwYMGDBgwIABA2ZumKuztLnjgQEDBgwYMGDAgNl5mH/4/ltKA6vBNAAAAABJRU5ErkJggg==);
  background-position: bottom right;
  background-repeat: no-repeat;

  q {
    font-size: 60px;
  }
}

/*
    And the "it's in 3D" step again brings some 3D typography - just for fun.

    Because we want to position <span> elements in 3D we set transform-style to
    `preserve-3d` on the paragraph.
    It is not needed by webkit browsers, but it is in Firefox. It's hard to say
    which behaviour is correct as 3D transforms spec is not very clear about it.
*/

#its-in-3d {
  p {
    transform-style: preserve-3d;
  }

  /*
    Below we position each word separately along Z axis and we want it to transition
    to default position in 0.5s when the step gets `present` class.

    Quite a simple idea, but lot's of styles and prefixes.
*/
  span,
  b {
    display: inline-block;
    transform: translateZ(40px);
    transition: 0.5s;
  }

  .have {
    transform: translateZ(-40px);
  }

  .you {
    transform: translateZ(20px);
  }

  .noticed {
    transform: translateZ(-40px);
  }

  .its {
    transform: translateZ(60px);
  }

  .in {
    transform: translateZ(-10px);
  }

  .footnote {
    font-size: 32px;
    transform: translateZ(-10px);
  }

  &.present span,
  &.present b {
    transform: translateZ(0px);
  }
}

/*
    The last step is an overview.
    There is no content in it, so we make sure it's not visible because we want
    to be able to click on other steps.

*/
#overview {
  display: none;
}

/*
    We also make other steps visible and give them a pointer cursor using the
    `impress-on-` class.
*/
.impress-on-overview .step {
  opacity: 1;
  cursor: pointer;
}

/*
    Now, when we have all the steps styled let's give users a hint how to navigate
    around the presentation.

    The best way to do this would be to use JavaScript, show a delayed hint for a
    first time users, then hide it and store a status in cookie or localStorage...

    But I wanted to have some CSS fun and avoid additional scripting...

    Let me explain it first, so maybe the transition magic will be more readable
    when you read the code.

    First of all I wanted the hint to appear only when user is idle for a while.
    You can't detect the 'idle' state in CSS, but I delayed a appearing of the
    hint by 5s using transition-delay.

    You also can't detect in CSS if the user is a first-time visitor, so I had to
    make an assumption that I'll only show the hint on the first step. And when
    the step is changed hide the hint, because I can assume that user already
    knows how to navigate.

    To summarize it - hint is shown when the user is on the first step for longer
    than 5 seconds.

    The other problem I had was caused by the fact that I wanted the hint to fade
    in and out. It can be easily achieved by transitioning the opacity property.
    But that also meant that the hint was always on the screen, even if totally
    transparent. It covered part of the screen and you couldn't correctly clicked
    through it.
    Unfortunately you cannot transition between display `block` and `none` in pure
    CSS, so I needed a way to not only fade out the hint but also move it out of
    the screen.

    I solved this problem by positioning the hint below the bottom of the screen
    with CSS transform and moving it up to show it. But I also didn't want this move
    to be visible. I wanted the hint only to fade in and out visually, so I delayed
    the fade in transition, so it starts when the hint is already in its correct
    position on the screen.

    I know, it sounds complicated ... maybe it would be easier with the code?
*/

.hint {
  /*
        We hide the hint until presentation is started and from browsers not supporting
        impress.js, as they will have a linear scrollable view ...
    */
  display: none;

  /*
        ... and give it some fixed position and nice styles.
    */
  position: fixed;
  left: 0;
  right: 0;
  bottom: 200px;

  background: rgba(0, 0, 0, 0.5);
  color: #eee;
  text-align: center;

  font-size: 50px;
  padding: 20px;

  z-index: 100;

  /*
        By default we don't want the hint to be visible, so we make it transparent ...
    */
  opacity: 0;

  /*
        ... and position it below the bottom of the screen (relative to it's fixed position)
    */
  transform: translateY(400px);

  /*
        Now let's imagine that the hint is visible and we want to fade it out and move out
        of the screen.

        So we define the transition on the opacity property with 1s duration and another
        transition on transform property delayed by 1s so it will happen after the fade out
        on opacity finished.

        This way user will not see the hint moving down.
    */
  transition: opacity 1s, transform 0.5s 1s;
}

/*
    Now we 'enable' the hint when presentation is initialized ...
*/
.impress-enabled .hint {
  display: block;
}

/*
    ... and we will show it when the first step (with id 'bored') is active.
*/
.impress-on-bored .hint {
  /*
        We remove the transparency and position the hint in its default fixed
        position.
    */
  opacity: 1;

  transform: translateY(0px);

  /*
        Now for fade in transition we have the oposite situation from the one
        above.

        First after 4.5s delay we animate the transform property to move the hint
        into its correct position and after that we fade it in with opacity
        transition.
    */
  transition: opacity 1s 5s, transform 0.5s 4.5s;
}

/*
    That's all I have for you in this file.
    Thanks for reading. I hope you enjoyed it at least as much as I enjoyed writing it
    for you.
*/
