.page {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

/* Custom Style */
.progress-bar {
  display: flex;
  margin-bottom: 0.8em;
}
.progress-bar .weui-progress {
  display: inline-flex;
  width: 100%;
  margin-right: 15px;
}

.progress-bar .weui-progress__inner-bar {
  transition: ease-out 0.2s;
}

.animate-right-in {
  animation: rightIn 0.2s ease-out;
}

@keyframes rightIn {
  0% {
    opacity: 0.35;
    left: 100%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
@keyframes leftOut {
  0% {
    opacity: 1;
    left: 0;
  }
  100% {
    opacity: 1;
    left: -100%;
  }
}
